p {
    font-size: 25px;
    color: red;
}

.principal{
    display: grid;
}

.encerramento{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40%;
}

.btn{
    margin-top: 16px;
}